.navbar-header{
    display: flex;
    background:#ffffff;
    top:0;
}
.checkout-container{

    display: flex;
    height: 100vh;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.navbar-header-text
{
    padding: 12px 1px 1px 5px;
}
.headerTitle{
    color:#fff;
    font-size:24px;
}

#image{
   /* height: 461px ;*/
    width:100%;
}
.imageText{
    top: 32%;
    left: 40%;
    color: #fff;
}
.buttonContainer{
    width: 100%;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
}
#btn-nav{
    background-color: #C53131 ;
    width: 100%;
    height: 80px;
    border: none;
    margin-top: -7px;
}
.buttonContainer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonContainer span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonContainer:hover span {
    padding-right: 25px;
}

.buttonContainer:hover span:after {
    opacity: 1;
    right: 0;
}
.navbar-brand img,
.navbar-container {
    height: 100px;
    /*width:100%;*/
    background: rgb(0, 0, 0);

}
.navbar-brand{
    padding:0 !important;
    padding-top:1px !important;
}
.form-group{
    /*position: absolute;*/
    bottom: 0;
    margin: 0 !important;
    width: 100%;
}
.mainwaves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.mainwaves-effect .mainwaves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.mainwaves-effect.mainwaves-light .mainwaves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.mainwaves-effect.mainwaves-red .mainwaves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.mainwaves-effect.mainwaves-yellow .mainwaves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.mainwaves-effect.mainwaves-orange .mainwaves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.mainwaves-effect.mainwaves-purple .mainwaves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.mainwaves-effect.mainwaves-green .mainwaves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.mainwaves-effect.mainwaves-teal .mainwaves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

.mainwaves-effect input[type="button"], .mainwaves-effect input[type="reset"], .mainwaves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.mainwaves-effect img {
    position: relative;
    z-index: -1;
}

.mainwaves-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
.mainwaves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.mainwaves-input-wrapper .mainwaves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainwaves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.mainwaves-block {
    display: block;
}

/* Firefox Bug: link not triggered */
.mainwaves-effect .mainwaves-ripple {
    z-index: -1;
}

/*Table*/
.table {
    width: 100%;
   /* -webkit-overflow-scrolling: touch;*/
    overflow-x: auto;
    display: block;
}
/*Zoom*/
.zoom {
    transition: transform .2s; /* Animation */

}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Button ripple*/
button {
    position: relative;
    overflow: hidden;
    padding: 16px 32px;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #3f51b5;
    border-radius: 100%;
    opacity: .6;

    transform: scale(0);
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

button:not(:active):after {
    animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
button:after {
    visibility: hidden;
}

button:focus:after {
    visibility: visible;
}

.footer {
    height: 80px;
    width: 100%;
    background: #000000;
    color: #fff;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    position: absolute;

}
.checkout-container {
    display: flex;
}
.left {

    margin-right: 100px;
}
.right ,
.left {
    display: inline-table;
    background: #fff;
    height: 87px;
    width: 200px;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.checkout-inner{
    display: flex;
   /* text-align: center;*/
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-main{
    height: 80px;
    width: 100%;
    /* background: #000000; */
    color: #fff;
    bottom: 0;
    /* text-align: center; */
    font-size: 40px;
    position: fixed;
}

.responsive {
    width: 100%;
    height: auto;
}

#row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;

}
.column{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    display: block;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    display: block;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    /*.column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }*/
    .imageText {
        height: 60px;
        text-align: center;
    }
}
.footer-main,
.form-group {
    position: fixed;
}
@media screen  and(max-width: 1200px) {
    .footer-main,
    .form-group {
        position: absolute;
    }

}
body{
    width:100%;
    margin:0;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}


.disable-scrollbars::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 150px;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 10px olivedrab;*/
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #000;
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#subMenuItems {
display: flex;
}
#modalPopupInner .categoryItem{
    display: block;
    float: right;
}

/* Css that need to modified in future */
#modalPopup .ItemPrice ,
.itemPriceLabel .selectItem ,
.itemPriceLabel p{
    background: none !important;
    text-align: unset !important;
}
.selected{
    outline: 4px solid red;
    outline-color: red;
}
h1{
    font-size:20px!important;
}
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {

    }

@media only screen and (max-width: 800px){
.row.col.s1.m3{
    width: 25% !important;
    margin-left: auto;
    left: auto;
    right: auto;

}
.row.col.s11.m9{
    width: 75% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

}
@media only screen and (min-width: 801px){
    .row.col.s1{
        width:8.3333333333%!important;

    }
    .row.col.s11{
        width: 91.6666666667%!important;
    }

}
@media only screen and (max-width: 767px){
  .column img{
      display: inline-block;
  }



}

@media screen  and(max-width: 900px) {
    #image{
        display: table-row;
        margin:0 auto;
        width:491px;
        height: 900px;
        padding:40px 0;
    }

}
@media only  screen  and(max-width: 901px) {
    #image{
        display: table-row;
        margin:0 auto;
        width:900px;
        height: 491px;
        padding:40px 0;
    }

}

@media only screen and (max-width: 767px) {
#image{
    display: inline-block !important;
    width:100%;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    top:50%;
    left:50%;
    vertical-align: middle;

}
}
@media only screen and (min-width: 768px) {
    #image {
        /*height: 461px;*/
        height:100vh ;
        width: 100vw;
        top: 25%;
        margin-right: auto;
        margin-left: auto;
        display: flex;

    }
}
#subMenuItems{
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
}
.column{
    padding-bottom: 10px;
}
.navbar .column.zoom.mainMenuItems{
    margin:0;
    padding: 0;
}
/*.navbar .column.zoom.mainMenuItems  img{
    height: 150px !important;
    width: 150px !important;
}*/
.categoryItem img{
    height: 200px;
    width:200px;
}
.mainMenuItems  img{
    height:200px;
    width:200px;
}
#subMenuItems .column img{
    height:200px;
    width:200px;
}
.navbar #row{
    margin:0;
    height: 150px;
}
/*
.navbar  .column.zoom.mainMenuItems a{
    width:150px !important;
    padding:0 !important;
}*/

@media only screen and (max-width: 767px) {
    #subMenuItems,
    #mainMenuItems {
        text-align: center;
    }
    #subMenuItems .column p,
    #subMenuItems .column a,
    #mainMenuItems a{
        display: inline-block !important;
    }
}
@media only screen and (min-width: 768px) {
#subMenuItems .categoryItem{
    text-align: center;
}
    #subMenuItems .categoryItem p,
    #subMenuItems .categoryItem img,
    #subMenuItems .categoryItem a{
       display: inline-block !important;
    }


}

#wrapper {
    width: 100%;
    display: block;
    overflow-x: scroll;
    overflow-y: hidden;
    z-index: 2000;
}
header{
    width: 100%;
    top: 0;
    margin: 0;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:2000;
}
html{
    left:0;
    right:0;
    width:100%;
}
body{
    left:0;
    right: 0;
width:100%;
}
/*
#wrapper img{
    height: 80px;
width:80px;
}
#wrapper a{
    padding: 0!important;
    width:80px !important;
    font-size: 10px;
}
 */
#wrapper{
    position: fixed;
    top:0;
}
#wrapper .mainMenuItems img{
    height: 100px;
    width:150px;

}
#wrapper .mainMenuItems a{
    width:150px !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    padding: 5px !important;
}
/*
#modalPopup {
    margin-top: 100px;
}*/
.mainMenuItems
{
    text-align: center;
}

@media only screen and (max-width: 767px) {

.choices{
text-align: center;
}
}
#wrapper .mainMenuItems{
    text-align: unset;
}

#wrapper .mainMenuItems a{
    display: block !important;
}
ul.stepper>.step:not(:last-of-type):after{
    background: #fff;
}
.step-circle{
    height: 20px;
    width :20px;
    background: black;
    border: 1px solid #000;
    border-radius: 50%;
}
@media only screen and (max-width: 767px) {

    .step{
        display: inline-block;
    }
    .step-title{
        padding-left: 50px;
    }

    .items .column,
    .choice{
        width:40% !important;
        margin-bottom: 5%;
    }
    .choice img{
        width:50% !important;
    }
    .choice .right{
        width:50%!important;
    padding: 0 !important;
    }
    .choice .backBtn{
        width: 70px !important;

    }
}
.items .column{
    margin-bottom: 5%;
}
.items{
    width: 100% !important;
    display: inline-block !important;
    padding-left: 10% !important;
    padding-right: 10% !important;
}
.hidden{
    display: none;
}
.modal.show
{
    display: block;
}
.nextBtn{
    background: #fff;
    border: 1px solid;
    border-radius: 25px;
    border: 1px solid #000;
    width: 107px;
    font-weight: 600;
    font-size: 10px;
    float: right;
    background: #0000005e !important;
    color: #fff;"
}
.backBtn{
     background: #fff;
    border: 1px solid;
    border-radius: 25px;/
    border: 1px solid #000;
    width: 107px;
    font-weight: 600;
}
.personalinfo-cartPrice{
    font-weight: 800;
}
#btn-nav{
    font-size: 50px;
    height: 100px;
}
.footer-main{
    height: 100px;
}
.maincontainer-image,
.maincontainer{
    width: 100%;
    left:0;
    right:0;
}

@media screen and (max-width:600px) {
    .checkout-inner {
        padding-top: 40%;
    }

}
.maincontainer{
    padding-top: 105px;
    display: inline-block;
    overflow-y:hidden;
}
.welcomePage{
    overflow: hidden !important;
    display: block !important;
}
img{
    -webkit-transition: opacity 2s ease-in !important;
    -moz-transition: opacity 2s ease-in !important;
    -o-transition: opacity 2s ease-in !important;
    -ms-transition: opacity 2s ease-in !important;
    transition: opacity 5s ease-in !important;
    /*opacity: 0;*/
}

@media only screen and (min-width: 993px) {
    ul.stepper.horizontal .step:not(:last-of-type):after, ul.stepper.horizontal > .step.active:not(:last-of-type):after {
        background: #efefef !important;
        width: 0% !important;

    }
}
ul.stepper>.step:not(:last-of-type):after {
    background: #efefef;
}
.personalInfo-content,
.orderReview-content,
.summary-content,
.paymentMethod-content{
    z-index:999;
}
.personalInfo-content .header,
.orderReview-content .header,
.summary-content .header,
.paymentMethod-content .header{
    width: 100%;
    display: inline-block;
    padding-top: 100px;

}
/*.step{
    width:24%;
}
.orderProcess li{
    width:24%;
    display: inline-block !important;
}
.orderProcess{
    width: 100%;

}
 .orderProcess .waves-effect{
     padding:0 !important;
 }
 */
.error_show{
    border: 2px solid red !important;
    display: block !important;
}
