.navbar-header{
    display: flex;
    background:#ffffff;
    top:0;
}
.checkout-container{
    background: #000;
    display: flex;
    height: 50%;
}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
}
.navbar-header-text
{
    padding: 12px 1px 1px 5px;
}
.headerTitle{
    color:#fff;
    font-size:24px;
}

#image{
   /* height: 461px ;*/
    width:100%;
}
.imageText{
    top: 32%;
    left: 40%;
    color: #fff;
}
.buttonContainer{
    width: 100%;
    height: 50px;
    transition: all 0.5s;
    cursor: pointer;
}
#btn-nav{
    background-color: #C53131 ;
    width: 100%;
    height: 80px;
    border: none;
    margin-top: -7px;
}
.buttonContainer span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonContainer span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonContainer:hover span {
    padding-right: 25px;
}

.buttonContainer:hover span:after {
    opacity: 1;
    right: 0;
}
.navbar-brand img,
.navbar-container {
    height: 100px;
    /*width:100%;*/
    background: rgb(0, 0, 0);

}
.navbar-brand{
    padding:0 !important;
    padding-top:1px !important;
}
.form-group{
    /*position: absolute;*/
    bottom: 0;
    margin: 0 !important;
    width: 100%;
}
.mainwaves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s ease-out;
}

.mainwaves-effect .mainwaves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    opacity: 0;
    background: rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: transform, opacity;
    transition-property: transform, opacity, -webkit-transform;
    -webkit-transform: scale(0);
    transform: scale(0);
    pointer-events: none;
}

.mainwaves-effect.mainwaves-light .mainwaves-ripple {
    background-color: rgba(255, 255, 255, 0.45);
}

.mainwaves-effect.mainwaves-red .mainwaves-ripple {
    background-color: rgba(244, 67, 54, 0.7);
}

.mainwaves-effect.mainwaves-yellow .mainwaves-ripple {
    background-color: rgba(255, 235, 59, 0.7);
}

.mainwaves-effect.mainwaves-orange .mainwaves-ripple {
    background-color: rgba(255, 152, 0, 0.7);
}

.mainwaves-effect.mainwaves-purple .mainwaves-ripple {
    background-color: rgba(156, 39, 176, 0.7);
}

.mainwaves-effect.mainwaves-green .mainwaves-ripple {
    background-color: rgba(76, 175, 80, 0.7);
}

.mainwaves-effect.mainwaves-teal .mainwaves-ripple {
    background-color: rgba(0, 150, 136, 0.7);
}

.mainwaves-effect input[type="button"], .mainwaves-effect input[type="reset"], .mainwaves-effect input[type="submit"] {
    border: 0;
    font-style: normal;
    font-size: inherit;
    text-transform: inherit;
    background: none;
}

.mainwaves-effect img {
    position: relative;
    z-index: -1;
}

.mainwaves-notransition {
    -webkit-transition: none !important;
    transition: none !important;
}
.mainwaves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
}

.mainwaves-input-wrapper .mainwaves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.mainwaves-circle {
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}

.mainwaves-block {
    display: block;
}

/* Firefox Bug: link not triggered */
.mainwaves-effect .mainwaves-ripple {
    z-index: -1;
}

/*Table*/
.table {
    width: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    display: block;
}
/*Zoom*/
.zoom {
    transition: transform .2s; /* Animation */

}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/*Button ripple*/
button {
    position: relative;
    overflow: hidden;
    padding: 16px 32px;
}

button:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    background: #3f51b5;
    border-radius: 100%;
    opacity: .6;

    transform: scale(0);
}

@keyframes ripple {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
    }
}

button:not(:active):after {
    animation: ripple 1s ease-out;
}

/* fixes initial animation run, without user input, on page load.
 */
button:after {
    visibility: hidden;
}

button:focus:after {
    visibility: visible;
}

.footer {
    height: 80px;
    width: 100%;
    background: #000000;
    color: #fff;
    bottom: 0;
    text-align: center;
    font-size: 40px;
    position: absolute;

}
.checkout-container {
    display: flex;
    height: 50%;
}
.left {

    margin-right: 100px;
}
.right ,
.left {
    display: inline-table;
    background: #fff;
    height: 87px;
    width: 200px;
    padding: 10px;
    padding-bottom: 40px;
    text-align: center;
}

.checkout-inner{
    display: flex;
   /* text-align: center;*/
    margin: auto;
}
.footer-main{
    height: 80px;
    width: 100%;
    /* background: #000000; */
    color: #fff;
    bottom: 0;
    /* text-align: center; */
    font-size: 40px;
    position: fixed;
}

.responsive {
    width: 100%;
    height: auto;
}

#row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 20px;
    overflow-x: scroll;
}
.column{
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 24%;
    padding: 0 4px;
    display: block;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    display: block;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 48%;
    }
}
@media screen and (max-width: 600px) {
    /*.column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }*/
    .imageText {
        height: 60px;
        text-align: center;
    }
}
.footer-main,
.form-group {
    position: fixed;
}
@media screen  and(max-width: 1200px) {
    .footer-main,
    .form-group {
        position: absolute;
    }

}
body{
    width:100%;
    margin:0;
}
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}


.disable-scrollbars::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

/* Box styles */
.myBox {
    border: none;
    padding: 5px;
    font: 24px/36px sans-serif;
    width: 200px;
    height: 150px;
    overflow: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    /*box-shadow: inset 0 0 10px olivedrab;*/
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #000;
    box-shadow: inset 0 0 6px rgba(0,0,0,0);
    /*box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
#subMenuItems {
display: flex;
}
#modalPopupInner .categoryItem{
    display: block;
    float: right;
}

/* Css that need to modified in future */
#modalPopup .ItemPrice ,
.itemPriceLabel .selectItem ,
.itemPriceLabel p{
    background: none !important;
    text-align: unset !important;
}
.selected{
    outline: 1px solid red;
    outline-color: red;
}
h1{
    font-size:20px!important;
}
@media screen and (min-device-width: 481px) and (max-device-width: 767px) {

    }

@media only screen and (max-width: 800px){
.row.col.s1.m3{
    width: 25% !important;
    margin-left: auto;
    left: auto;
    right: auto;

}
.row.col.s11.m9{
    width: 75% !important;
    margin-left: auto;
    left: auto;
    right: auto;
}

}
@media only screen and (min-width: 801px){
    .row.col.s1{
        width:8.3333333333%!important;

    }
    .row.col.s11{
        width: 91.6666666667%!important;
    }

}
@media only screen and (max-width: 767px){
  .column img{
      display: inline-block;
  }



}
body{
    background: #000 !important;
}
@media screen  and(max-width: 900px) {
    #image{
        display: table-row;
        margin:0 auto;
        width:491px;
        height: 900px;
        padding:40px 0;
    }

}
@media only  screen  and(max-width: 901px) {
    #image{
        display: table-row;
        margin:0 auto;
        width:900px;
        height: 491px;
        padding:40px 0;
    }

}

@media only screen and (max-width: 767px) {
#image{
    display: table-row !important;
    width:600px;
    max-height: 900px;
    margin-left: auto;
    margin-right: auto;
    top:50%;
    left:50%;
    vertical-align: middle;

}
}
@media only screen and (min-width: 768px) {
    #image {
        height: 461px;
        width: 900px;
        top: 25%;
        margin-right: auto;
        margin-left: auto;
        display: flex;

    }
}
#subMenuItems{
    display: flex;
    flex-wrap: wrap;
    margin: auto 0;
}
.column{
    padding-bottom: 10px;
}